:root {
  --targetAngle: 0deg;
  --prevTargetAngle: 0deg;
}

ul.wheel {
  list-style: none;
  padding: 0;
  position: absolute;
  left: 0%;
  top: 50%;
  width: 24em;
  transform-origin: center left;

  li {
    position: relative;
    padding: 0em 1.5em;
    transform-origin: center left;
    width: 50em;

    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      text-shadow: 2px 2px #111;
      padding: 0.5em 1em;
      font-size: 1em;
      transition: font-size 500ms ease;
    }
  }

  &.anim-idle {
    // animation: idle 10000ms linear infinite;
  }

  &.anim-spinning {
    animation: spin 5000ms ease-in-out;
  }

  &.anim-chosen {
    transform: rotate(calc(var(--targetAngle)));
  }

  &.anim-chosen li.selected {
    z-index: 999;
  }
  &.anim-chosen li.selected span {
    border-radius: 15px;
    font-size: 3em;
    background-color: #324;
  }
}

@keyframes idle {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(calc(var(--prevTargetAngle))); }
  20% { transform: rotate(calc(var(--prevTargetAngle) - 40deg)); }
  80% { transform: rotate(calc(var(--targetAngle) + 1100deg)); }
  100% { transform: rotate(calc(var(--targetAngle) + 1080deg)); }
}

@for $count from 1 through 50 {
  ul.wheel-count-#{$count} {
    li {
      padding-left: 0.33em * $count;
    }
    @for $nth from 1 through $count {
      li:nth-child(#{$nth}) {
        transform: rotate(($nth - 1) * (360 / $count) * 1deg);
      }
    }
  }
}
