:root {
  --targetAngle: 0deg;
}

ul.wheel {
  list-style: none;
  padding: 0;
  position: absolute;
  left: 0%;
  top: 50%;
  width: 24em;
  transform-origin: center left;
  animation: spin 5000ms ease-in-out infinite;

  li {
    position: relative;
    padding: 0em 1.5em;
    transform-origin: center left;
    width: 24em;

    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      text-shadow: 2px 2px #111;
      padding: 0.5em 1em;
      font-size: 1.25em;
    }
    &.selected span {
      background-color: #324;
    }
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  18% { transform: rotate(-180deg); }
  80% { transform: rotate(calc(var(--targetAngle) + 10deg)); }
  95% { transform: rotate(calc(var(--targetAngle))); }
  100% { transform: rotate(calc(var(--targetAngle))); }
}

@for $count from 1 through 50 {
  ul.wheel-count-#{$count} {
    li {
      padding-left: 0.33em * $count;
    }
    @for $nth from 1 through $count {
      li:nth-child(#{$nth}) {
        transform: rotate(($nth - 1) * (360 / $count) * 1deg);
      }
    }
  }
}
